.div-search {
  display: flex;
  flex-direction: column;
}
.div-search .div-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}
.div-search .div-info p {
  padding: 0;
  margin: 0;
}
.div-search .div-info .p-error {
  color: rgba(99, 0, 0, 0.8470588235);
  font-weight: 500;
}