.loader {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}
.loader .icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s linear infinite;
  stroke: rgb(107, 114, 128);
}
.loader .loading-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgb(107, 114, 128);
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}