footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(156, 156, 156, 0.1058823529);
}
footer .pSource,
footer .pCopyright {
  font-size: small;
  color: #808080;
  margin: 7px;
  text-wrap: nowrap;
}
footer .pSource a,
footer .pCopyright a {
  color: #808080;
  transition: all 500ms;
}
footer .pSource a:hover,
footer .pCopyright a:hover {
  color: #1638b2;
  transition: all 500ms;
}