.input-container {
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 80%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  transition: all 0.5s;
}
.input-container .input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #adadad;
  outline: none;
  padding: 18px 21px 18px 38px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}
.input-container .input:hover, .input-container .input:focus {
  border: 1px solid #6271f9;
}
.input-container .icon {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  background-color: transparent;
  border-radius: 99px;
  z-index: 1;
  fill: #616161;
  border: 1px solid #616161;
  transition: all 0.2s;
}
.input-container .icon:hover {
  cursor: pointer;
  fill: #434fb9;
  border: 2px solid #6271f9;
  transition: all 0.2s;
}
.input-container .input:hover + .icon,
.input-container .input:focus + .icon {
  fill: #434fb9;
  border: 2px solid #6271f9;
  transition: all 0.2s;
}
.input-container:has(.input:not(:-moz-placeholder-shown)) {
  width: 100%;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.input-container:has(.input:not(:placeholder-shown)), .input-container:focus-within {
  width: 100%;
  transition: all 0.5s;
}