@font-face {
  font-family: "TimeFont";
  src: url("../assets/fonts/ds-digib.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  display: flex;
  height: 100svh;
  min-width: 320px;
  min-height: 100vh;
}
body #root {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  flex-grow: 1;
  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(370deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(325deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
}
body #root .main {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 60%;
  overflow: auto;
  margin-top: -20px;
}
body #root .main .card-location-data {
  max-width: 550px;
  background: none;
  border: none;
}
body #root .main .card-location-data .card-header {
  background: none;
  border: none;
}
body #root .main .card-location-data .card-body {
  background-color: rgba(132, 132, 132, 0.137254902) !important;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 6px, rgba(0, 0, 0, 0.1) 0px -3px 6px;
  border-bottom: none;
}
body #root .main .card-location-data .card-footer {
  background-color: rgba(132, 132, 132, 0.137254902) !important;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  border-top: none;
}

.tsqd-parent-container {
  position: absolute;
}