.navbar {
  width: 100%;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar svg.logo {
  height: 30px;
  width: 30px;
  fill: none;
  stroke: rgba(255, 255, 255, 0.5490196078) !important;
}
.navbar .container {
  justify-content: space-around !important;
}